.course-form {
	margin-bottom: 20px;
}

.course-row {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	gap: 10px;
}

.course-row input,
.course-row select {
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 15px;
}

.course-row input[type="number"] {
	width: 80px;
}

.remove-btn {
	background-color: #e74c3c;
	padding: 8px 10px;
	border-radius: 18px;
	color: #fff;
	border: none;
}

.add-btn {
	background-color: #0a5bd7;
	padding: 8px 10px;
	border-radius: 18px;
	color: #fff;
	border: none;
}

.calculate-btn {
	background-color: #f39c12;
	margin-top: 10px;
	width: 100%;
	padding: 12px;
	font-size: 16px;
}



@media (max-width: 600px) {
	.course-row {
		flex-direction: column;
		align-items: stretch;
	}

	.course-row input,
	.course-row select {
		width: auto;
	}
}
